body{
    color: white;
    background-color: #C63D2F;
    font-family: 'Open Sans', sans-serif;
}
.userPage{
    margin-top: 10vh;
}
.starred{
    content:url("/images/star.svg");
}
.starredFull{
    content:url("/images/star-fill.svg");
}

#qouteOfTheDay{
    font-weight: lighter;
    font-style: italic;
}
.logo{
    height: 200px;
    width: 200px;
    border-radius: 3rem;
    filter: drop-shadow(0 10px 20px #ffffff50);
}
.containerSize{
    min-width: 180px;
}
.sectionTop{
    background-color: #E25E3E;
    border-radius: 2rem;
}
.sidebarSize{
    height: 100vh;
}
.activeColor{
    background-color: #E25E3E;
}
.nameCircle{
    background-color: white;
    height: 123px;
    width: 123px;
    border-radius: 50%;
}
.positionChange{
    position: fixed;
}
.toggle{
    text-decoration: line-through;
}
@media (max-width:600px) {
    .pseudo{
        display: none;
    }
    .containerSize{
        position: relative;

    }
    .sidebarSize{
        height: 100%;
    }
}